<h1>Edit website</h1>                                          

<% form_for(:website, :url => person_website_url(@person.id, @website), :html => {:method => :put }) do |form| %>

	<table>
		<tr>
			<th><label for="website_url">Website:</label></th>
			<td><%= form.text_field :url %></td>
			<td><%= error_message_on :website, :url %></td>
		</tr>                                   

		<tr>
			<th>&nbsp;</th>
			<td><%= submit_tag "Save", :class => "button" %></td>
		</tr>
	</table>
<% end %>

