html {
	height: 100%;
}

body { 
	color: #464445;
	background-color: #888888;
	height: 100%;
	margin-top: 0;
	font-size: 100%;
}

#sign_in {
	width: 28em;
	margin: 0 auto 0 auto;
	padding-top: 3em;
}

#sign_in #header {
	background-color: #464445;
	padding-top: 0.4em;
	padding-left: 1em;
	padding-right: 1em;
	padding-bottom: 0.2em;
}

#sign_in #content {
	background-color: #ffffff;
	padding-top: 0.5em;
	padding-left: 1em;
	padding-right: 1em;
	padding-bottom: 0.5em;
}

#sign_in #content label {
	font-size: 0.875em;
	font-weight: bold;
	display: block;
	margin: 0;
	padding: 0;
}

#sign_in #content div {
	margin-top: 0.5em;
	margin-bottom: 1em;
}

#sign_in #content input#username {
	width: 25em;
}

#sign_in #content input#password {
	width: 25em;
}

#sign_in #footer {
	height: 1em;
	background-color: #464445;
}

#wrapper {
	position: relative;
	min-height: 100%;
	margin-top: 0;
	margin-left: 2em;
	margin-right: 2em;
	margin-bottom: 0;
	padding: 0;
	background-color: #ffffff;
}

#wrapper #header {
	background-color: #464445;
	min-height: 4.5em;
	padding-top: 0.5em;
	padding-left: 1em;
	padding-right: 1em;
}

#header h1 {
	margin: 0;
	color: #ff8800;
	font-size: 2.5em;
}

#search {
	float: right;
	margin-top: 0.5em;
}

#search .searchtext {
	border: 1px solid #000000;
}

#navbar {
	float: right;
	color: #c0c0c0;
}

#navbar a {
	color: #ff8800;
}

#navbar a:visited {
	color: #ff8800;
}

#wrapper #content {
	margin-top: 0em;
	padding-top: 0.5em;
	padding-left: 1em;
	padding-right: 1em;
	padding-bottom: 2em;
}

#content h1 {
	margin-top: 0;
	margin-bottom: 0.2em;
}

#content a, a:visited {
	color: #ff8800;
}

#content hr {
	color: #dddddd;
	background-color: #dddddd;
	height: 1px;
	border: 0;
}

#content div.add {
	font-size: 0.875em;
}

#content div.edit {
	font-size: 0.875em;
	text-align: right;
	margin: 0;
	padding: 0;
}

#content div.delete {
	font-size: 0.875em;
	text-align: right;
}

#content .error {
	color: #ff0000;
}

#content table.edit th {
	font-size: 0.875em;
	text-align: left;
	vertical-align: baseline;
	width: 6em;
}

#content table.edit td {
	vertical-align: baseline;
}

#content table.show {
	width: 100%;
	border-collapse: collapse;
}

#content table.show th {
	text-align: left;
	vertical-align: baseline;
	font-size: 0.875em;
	width: 6em;
}

#content table.show td {
	vertical-align: baseline;
}

#content table#listing {
	width: 100%;
	border-collapse: collapse;
	border-top: 1px solid #dddddd;
}

#listing td {
	vertical-align: baseline;
	border-bottom: 1px solid #dddddd;
	padding-top: 4px;
}

#listing h1.contact_name {
	font-size: 1.375em;
	font-weight: 500;
	margin: 0;
	padding: 0;
}

#listing h1.contact_name a, #listing h1.contact_name a:visited {
	text-decoration: none;
	color: #464445;
}

#listing h1.contact_name a:hover {
	text-decoration: underline;
}

#listing p.contact_method {
	font-size: 0.875em;
	margin: 0;
	padding: 0;
}

#listing p.contact_method a, #listing p.contact_method a:visited {
	text-decoration: none;
	color: #464445;
}

#listing p.contact_method a:hover {
	text-decoration: underline;
}

#listing p.contact_address {
	font-size: 0.875em;
	margin: 0;
	padding: 0;
}

#listing p.contact_action {
	text-align: right;
	font-size: 0.875em;
	margin: 0;
	padding: 0;
}

#wrapper #footer {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: 1em;
	background-color: #464445;
}
