<% for user in @users %>
	<tr>
		<td>
			<%= h(user.username) %>
		</td>

		<td>
			<div class="edit">
				<%= link_to 'Edit', edit_user_url(user) %>
			</div>
		</td>

		<td>
			<div class="edit">
				<%= link_to 'Delete', user_url(user), :method => :delete %>
			</div>
		</td>

	</tr>
<% end %>
