<% form_tag do %>
	<div>
		<label for="username">Username</label>
		<%= text_field_tag :username, params[:username] %>
	</div>

	<div>
		<label for="password">Password</label>
		<%= password_field_tag :password %>
	</div>

	<div>
		<%= submit_tag "Sign in" %>
	</div>
<% end %>
