<h1>Add twitter</h1>                                          

<% form_for(:twitter, :url => person_twitters_url(@person.id)) do |form| %>
	<table>
		<tr>
			<th><label for="twitter_username">Username:</label></th>
			<td><%= form.text_field :username %></td>
			<td><%= error_message_on :twitter, :username %></td>
		</tr>                                   

		<tr>
			<th>&nbsp;</th>
			<td><%= submit_tag "Add", :class => "button" %></td>
		</tr>
	</table>
<% end %>
