<h1>Edit email</h1>                                          

<% form_for(:email, :url => person_email_url(@person.id, @email), :html => {:method => :put }) do |form| %>

	<table>
		<tr>
			<th><label for="email_address">Address:</label></th>
			<td><%= form.text_field :address %></td>
			<td><%= error_message_on :email, :address %></td>
		</tr>                                   

		<tr>
			<th>&nbsp;</th>
			<td><%= submit_tag "Save", :class => "button" %></td>
		</tr>
	</table>
<% end %>

