%h1 Add email
= form_for(:email, :url => contact_emails_url(@contact.id)) do |form|
  %table.edit
    %tr
      %th
        %label{:for => "email_address"} Address:
      %td= form.text_field :address
      %td= @email.errors[:address].first
    %tr
      %th &nbsp;
      %td= submit_tag "Add", :class => "button"
