<h1>Add email</h1>                                          

<%= form_for(:email, :url => contact_emails_url(@contact.id)) do |form| %>
	<table class="edit">
		<tr>
			<th><label for="email_address">Address:</label></th>
			<td><%= form.text_field :address %></td>
			<td><%= @email.errors[:address].first %></td>
		</tr>                                   

		<tr>
			<th>&nbsp;</th>
			<td><%= submit_tag "Add", :class => "button" %></td>
		</tr>
	</table>
<% end %>
